@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --text-colour:#00aa00;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
}

h1{
    color: var(--text-colour);
    font-size: 50px;
    letter-spacing: -3px;
    margin-bottom: 20px;
}

h2{
    color: var(--text-colour);
}

h3{
    margin-bottom: 10px;

}

ul{
    list-style-type: none;
}
a{
    color: var(--text-colour);
    text-decoration: none;
}

p{
    margin: 20px 0;
}

.container{
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}

nav{
    width: 30%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    color: var(--text-colour);
    cursor: pointer;
}

.cursor{
    font-weight: 700;
    animation: blink 1s step-end infinite;
}

.wb-body{
    background: #111;
    padding: 20px;
}

@keyframes blink{
    from,
    to{
        color: transparent;
    }
    50%{
        color: var(--text-colour);
    }
}